h1 {
  font-family: $lato;
  color: $lucky-point;
  font-weight: $black;
  font-size: $xx-large;
  text-transform: uppercase;
}

h2 {
  font-family: $lato;
  color: $lucky-point;
  font-weight: $regular;
  font-size: $medium;
}

h3 {
  font-family: $lato;
  color: $lucky-point;
  font-weight: $black;
  font-size: $x-large;
  text-transform: uppercase;
}

h4 {
  font-family: $lato;
  color: $lucky-point;
  font-weight: $bold;
  font-size: $large;
}

h5 {
  font-family: $lato;
  color: $lucky-point;
  font-weight: $regular;
  font-size: $small;
}

h6 {
  font-family: $lato;
  color: $lucky-point;
  font-weight: $light;
  font-size: $medium;
}

p {
  font-family: $lato;
  color: $lucky-point;
  font-weight: $light;
  font-size: $medium;
  line-height: 1.5;
  margin-top: 1.5rem;
}
