// Paleta Colores
$white: #FFF;
$light-green: #7CEA9C;
$lucky-point: #2D3047;
$black-pearl: #071013;


//Font Family
$lato: 'Lato', sans-serif;


//Font Weight
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;


//Font Sizes
$xx-large: 50px;
$x-large: 36px;
$large: 22px;
$medium: 18px;
$small: 16px;
$x-small: 14px;
